doctype html
html(lang='en', ng-app="myApp")
  head
    meta(content='text/html;charset=UTF-8', http-equiv='Content-type')
    base(href='/')
    title Angular Express Seed App
    != css('app')

  body( ng_controller="SampleCtrl" )
    block body
    !=js('angularApp')
